<html>
  <body>
    <div style="border-style: solid; width: 70%; margin:0 auto;">
      <ul>
        <li><a href="/bsdStudents">BSD Students</a></li>
        <li><a href="/allStudents">All Students</a></li>
        <li><a href="/highGPA">Highest GPA</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <hr />
      {{> home }}
      {{> students }}
      {{> student }}
      <hr />
      <h2 style="margin-left: 20px;">Student Honor Pledge:</h2>
      <p style="margin-left: 20px;">I acknowledge Seneca Colleg's academic
        integrity policy.<br />
        On my honor, I have neither given or recieved unauthorized aid on this
        test.</p>
      <p style="margin-left: 20px;"> Name: <b>Rahul Birla</b></p>
      <p style="margin-left: 20px;"> Student Number: <b>147395198</b></p>
    </div>
  </body>
</html>